
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0F172A;
    color: white;
}


header {
    width: 100%;
    background: #1E293B;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #A78BFA;
    font-size: 30px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    color: #8B5CF6;
}


.hero {
    width: 90%;
    min-height: 90vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 55%;
}

.hero-text h3 {
    color: #A78BFA;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-text h2 {
    color: #E2E8F0;
    margin-bottom: 25px;
}

.hero-text p {
    color: #CBD5E1;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}


.hero-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #8B5CF6;
}


.buttons {
    margin-top: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    margin-right: 15px;
    background: #8B5CF6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
}

.btn:hover {
    background: #7C3AED;
}

.btn-outline {
    background: transparent;
    color: #8B5CF6;
    border: 2px solid #8B5CF6;
}

.btn-outline:hover {
    background: #8B5CF6;
    color: white;
}


.about,
.skills,
.education,
.experience,
.projects,
.contact {
    width: 90%;
    margin: auto;
    padding: 120px 0;
}

section h4 {
    color: #8B5CF6;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

section h2 {
    font-size: 42px;
    margin-bottom: 40px;
}


.about p {
    max-width: 900px;
    color: #CBD5E1;
    font-size: 18px;
    line-height: 32px;
}


.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.skill-card {
    background: #1E293B;
    padding: 30px;
    border-radius: 15px;
}

.skill-card h3 {
    margin-bottom: 15px;
}

.skill-card p {
    color: #CBD5E1;
    line-height: 28px;
}


.education-card {
    background: #1E293B;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.education-card h3 {
    margin-bottom: 10px;
}

.education-card h4 {
    color: white;
    margin-bottom: 10px;
}

.education-card p {
    color: #CBD5E1;
    margin-bottom: 10px;
}

.education-card span {
    color: #A78BFA;
    font-weight: 600;
}


.experience-card {
    background: #1E293B;
    padding: 30px;
    border-radius: 15px;
}

.experience-card h3 {
    margin-bottom: 10px;
}

.experience-card h4 {
    color: white;
    margin-bottom: 15px;
}

.experience-card p {
    color: #CBD5E1;
    line-height: 30px;
}


.project-card {
    background: #1E293B;
    padding: 35px;
    border-radius: 15px;
}

.project-card h3 {
    margin-bottom: 20px;
}

.project-card p {
    color: #CBD5E1;
    line-height: 30px;
    margin-bottom: 20px;
}


.tech-stack {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tech-stack span {
    background: #8B5CF6;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.status {
    color: #A78BFA !important;
    font-weight: 600;
}


.contact {
    text-align: center;
}

.contact p {
    color: #CBD5E1;
    line-height: 28px;
    margin-bottom: 40px;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.contact-card {
    background: #1E293B;
    padding: 30px;
    border-radius: 15px;
}

.contact-card h3 {
    margin-bottom: 15px;
}

.contact-card a {
    color: #8B5CF6;
    text-decoration: none;
}

.contact-card a:hover {
    text-decoration: underline;
}

.contact-card i {
    color: #8B5CF6;
    margin-right: 10px;
}

footer {
    background: #111827;
    padding: 30px;
    text-align: center;
}

footer p {
    color: #CBD5E1;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 5px 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 80px 0;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 45px;
    }

    .hero-image {
        margin-top: 40px;
    }

    .hero-image img {
        width: 250px;
        height: 250px;
    }

    .skills-container {
        grid-template-columns: 100%;
    }

    .contact-info {
        grid-template-columns: 100%;
    }
}

